#include <iostream>
using namespace std;
int hmChet(long long int n) {
    int count = 0;
     while (n != 0) {
        int digit = n % 10;
        if (digit != 0 && digit % 2 == 0) {
            count++;
        }
        n /= 10;
    }
  return count;
}
int main() {
    long long int n;
    cin >> n;
    cout << hmChet(n);
    return 0;
}
